<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <header>
      <p>Sonal Pooja (N01474010)</p>
    </header>

    <content>
      {{{body}}}
    </content>

    <footer>
      <p>sonalpooja11@gmail.com</p>
    </footer>
    
  </body>
</html>